*.o
*.lo
*.la
doc/

tests/argparse
tests/operand
tests/option
tests/parse
tests/subcommand
tests/subcommands

examples/echo

## autotools
aclocal.m4
autom4te.cache/
config.log
config.status
configure
.deps/
.dirstamp
etc/
.libs/
libtool
*.log
Makefile
Makefile.in
*.trs

## gcov
*.gcda
*.gcno
*.gcov
